<h1>Hello you stranger!</h1>
<h2>Please sign up!</h2>

<form action="/sign_up" method="post">
  <label for="email">Your email: </label>
    <input type="text" name='email'>
  <label for="password">Your password</label>
    <input type="password" name="password">
    <input type="submit" value="Submit">
</form>
